---
layout: default
title: Overview
class: overview
nav-order: 1

banner-title: Start your MINI escape
banner-content:

intro:
---


{% include banner.html %}


<div class="row--padding row--columns-4-4-4 row--columns-4-4-4-gutters clearfix box--extrude align-center">

  {% assign categories = site.pages | where: "page-type", "offers" %}
  {% for category in categories %}
    <div class="row__column box box--category content--light-color " style="background-image: url({{site.baseurl}}/img/bg/tile-{{category.class}}.jpg);">
      <a href="{{category.url}}" class="box--category--content">
        <h2>{{category.title}}</h2>
      </a>
    </div>
  {% endfor %}

</div>


