---
layout: default
title: Overview
class: overview
nav-order: 1

banner-title: Start your<br />MINI escape
banner-content:
banner-color: 5e6060

intro:
---


{% include banner-hero.html %}


<div class="row--columns-4-4-4 clearfix align-center">

  {% assign categories = site.pages | sort:"nav-order" | where: "page-type", "offers" %}
  {% for category in categories %}
    <div class="row__column box box--category content--light-color " style="background-image: url({{site.baseurl}}/img/bg/tile-{{category.class}}.jpg);">
      <a href="{{category.url}}" class="box--category--content">
        <h2>{{category.title}}</h2>
      </a>
    </div>
  {% endfor %}

</div>

{% include test-drive.html %}