<div class="row offer">

  <!-- Offer image -->
  <a href="{{ offer.link }}" class="offer__image bg-image-ratio bg-image-ratio--21-9" style="background-image: url('{{ site.baseurl }}/img/offers/{{ offer.class }}--main.jpg')"></a>



  <!-- Offer content -->
  <div class="offer__content row--padding row--columns-4-8 row--columns-4-8-gutters">

    <div class="row__column offer__gallery">
      <div class="offer__gallery--item bg-image-ratio bg-image-ratio--1-1" style="background-image: url('{{ site.baseurl }}/img/offers/{{ offer.class }}--g1.jpg');"></div>
      <div class="offer__gallery--item bg-image-ratio bg-image-ratio--1-1" style="background-image: url('{{ site.baseurl }}/img/offers/{{ offer.class }}--g2.jpg');"></div>
    </div>



    <div class="row__column offer__details">

      <div class="offer__title">
        <div class="offer__title--content">
          <h3>
            <a id="title-link-{{ offer.class }}" href="{{ offer.link }}">{{ offer.title }}</a>
          </h3>
          <p class="offer__content-subtitle text-nm">{{ offer.location }}</p>
          <p class="h6">
            FROM
            <span class="offer__content-price color--theme">£{{ offer.price }}</span>
            {{ offer.price-description | upcase }}
          </p>
        </div>
        <a class="btn offer__title--link" id="button-link-{{ offer.class }}" href="{{ offer.link }}">View Offer</a>
      </div>

      {{ offer.description }}

    </div>

  </div>

</div>