<section class="section--6-6 section--grey-bg{% if page.page-type == 'offers' %} background-color--theme content--light-color{% endif %}">

  <div class="row--columns-6-6 row--columns-vertical-align">

    <a href="test-drive" target="_blank" class="js-launch-modal row__column section--6-6__image bg-image-ratio bg-image-ratio--3-2" style="background-image: url({{site.baseurl}}/img/bg/banner-default.jpg);">  </a>

    <div class="row__column align-center section--6-6__copy">
      <h2>Book a test drive in the MINI of your choice</h2>
      <p>Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.</p>
      <a href="test-drive" class="btn js-launch-modal">Book a test drive</a>
    </div>

  </div>

</section>

<!-- Test drive modal -->
<div id="test-drive" class="js-modal modal is-closed" style="display: none;">
  <div class="js-modal__close modal__close"></div>
  <div class="modal__content form row row--padding row--columns-vertical-align is-closed">
    <iframe src="https://v3.lolagrove.com/LeadPages/iProspect.14/Mini.141/MiniSecretEscapes.2783/mini_secret.aspx?id=16287.3835&urlreferrer=https%3a%2f%2fv3.lolagrove.com%2fLeadPages%2fiProspect.14%2fMini.141%2fMiniSecretEscapes.2783%2fmini_secret.aspx%3fid%3d16287.3835"></iframe>
  </div>
</div>