// all custom styles for the site


.site-footer {
  padding-top: 3em;
  padding-bottom: 3em;
  color: darken( $white, 20 );
  text-align: center;
  font-size: .8em;
  font-weight: 400;
  background-color: $black;
}


// ---------- Background images ----------

.section--bg {
  padding-top: 8em;
  padding-bottom: 8em;
  color: $white;
  background-color: $se-light-grey;
  background-repeat: no-repeat;
  background-image: url('../img/bg/banner-default.jpg');
  background-size: cover;
  background-position: center top;
  p { font-weight: 400; }

  &-fixed {
    background-position: center;
    background-attachment: fixed;
  }
}

.banner {
  &--hero {
    padding-top: 12em;
    padding-bottom: 12em;
    &:before {
      content: '';
      display: block;
      height: 115px;
    }
  }
}

// ---------- Box areas ----------

.box {
  position: relative;
  padding: 3em 1.5em;
  &--intro {
    background-color: $mini-orange;
  }
  &--extrude { margin-top: -3em; }
  &--category {
    background-color: grey;
    display: table;
    height: 300px;
    &--content { display: table-cell; height: 100%; vertical-align: middle; }
  }
}


