// general typographic styles


// -------- root typography styles --------

$core-font-family:  'Open Sans', 'Helvetica Neue', sans-serif;

$title-font-family: 'Mini', 'Helvetica Neue', sans-serif;
$main-font-family: 'Roboto', 'Helvetica Neue', sans-serif;
$mini-sans-font-family: 'Mini Sans', 'Helvetica Neue', sans-serif;

html { font-size:62.5%; }
body,
input, textarea, keygen, select, button {
  font: 400 14px/1.728 $main-font-family;
  -webkit-text-size-adjust: 100%;
  color: $text;
  @include bp( large ) {
    font-size: 15px;
  }
}


// -------- Headings --------

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
  font-family: $title-font-family;
  color: $text-headings;
}

h1, .h1 {
  line-height: 1.05;
  margin-bottom: .2em;
  letter-spacing: 0.3em;
  font-size: 2.6em;
  text-transform: uppercase;
  @include bp( medium ) {
    font-size: 3.6em;
  }
  @include bp( large ) {
    font-size: 4.6em;
  }
}

h2, .h2 {
  margin-bottom: .5em;
  font-size: 1.8em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  line-height: 1.25;
  @include bp( medium ) {
    font-size: 2.488em;
  }
  @include bp( large ) {
    font-size: 2.986em;
  }
}

h3, .h3 {
  margin-bottom: .2em;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1;
  @include bp( medium ) {
    font-size: 1.728em;
  }
  @include bp( large ) {
    font-size: 2.074em;
  }
}

h4, .h4 { font-size: 1.728em; line-height: 1; }
h5, .h5 { font-size: 1.2em; line-height: 1.2; text-transform: uppercase; letter-spacing: 0.1em; }
h6, .h6 { font-size: 0.9em; text-transform: uppercase; font-weight: 600; }


// -------- general content styles --------

.page-content {
  p             { max-width: $large; }
  p + *         { margin-top: 1em; }
  li            { list-style-position: inside; }
  ul li         { list-style-type: disc; }
  ol li         { list-style-type: decimal; }
  em            { font-style: italic; }
  strong        { font-weight: 600; }
  // Text classes
  .lead         { font-size: 1.45em; line-height: 1.45; font-family: $title-font-family; }
  .text-nm   { margin: 0; }
  // Alignment
  .align-left   { text-align: left; }
  .align-right  { text-align: right; }
  .align-center {
    text-align: center;
    p { margin-left: auto; margin-right: auto;}
  }
  // Horizontal rules
  hr {
    border: 0; height: 3px; background-color: $mini-grey; margin: 2em auto;
    &.center {
      width: 60px;
    }
  }
}

// Make contents of an area invert for display against dark backgrounds
.content--light-color {
  color: white;
  hr { background-color: white; }
  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5 { color: white; }
  .btn { background-color: white !important; color: $mini-blue;
    &:hover { background-color: white !important; color: darken($mini-blue, 10%); }
  }
}


// ---------- button ----------

.btn {
  @include transition;
  display:inline-block;
  padding: .5em 1.5em;
  color: white;
  background-color: $mini-blue;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  &:hover {
    background-color: darken($mini-blue, 10%);
    text-decoration: none;
  }
  * + & { margin-top: 1em; }
  &--hollow {
    background-color: transparent;
    border: 1px solid white;
    &:hover { background-color: white; }
  }
  &--large {
    border-bottom: 3px solid white;
    padding-bottom: 0.3em;
  }
}

